html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 20px;
  font-family: 'Titillium Web';
}

.title {
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.markdown {
  float: left;
/*   margin-right: 20px; */
  width: 50%;
}

.html {
  float: left;
  width: 50%;
}

.html p {
  font-size: 1em;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 95%;
  font-size: 1em;
  font-family: 'Titillium Web';
  border: none;
}
